{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer class="bg-black text-light pt-5">
    <div class="container">
        <div class="row g-4">
            <!-- Logo & Social -->
            <div class="col-md-3">
                <img src="{{ footer.logo.url }}" class="img-fluid w-75 mb-3" alt="Logo">
                <div class="d-flex gap-3">
                    <a href="https://www.facebook.com/profile.php?id=61574034680048" class="text-light social-link" aria-label="Facebook"><i class="fab fa-facebook-f fa-lg"></i></a>
                    <a href="https://www.instagram.com/igniteandascend/?hl=en" class="text-light social-link" aria-label="Instagram"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="https://www.youtube.com/@IgniteandAscend25" class="text-light social-link" aria-label="YouTube"><i class="fab fa-youtube fa-lg"></i></a>
                    <a href="https://www.linkedin.com/company/igniteandascend/" class="text-light social-link" aria-label="LinkedIn"><i class="fab fa-linkedin fa-lg"></i></a>
                </div>
            </div>

            <!-- Services Links -->
            <div class="col-md-3">
                <h6 class="fw-semibold mb-3 text-maroon">Services</h6>
                <ul class="list-unstyled small">
                    <li><a href="{{ footer.service1_url }}" class="text-decoration-none text-light footer-link">{{ footer.service1 }}</a></li>
                    <li><a href="{{ footer.service2_url }}" class="text-decoration-none text-light footer-link">{{ footer.service2 }}</a></li>
                    <li><a href="{{ footer.service3_url }}" class="text-decoration-none text-light footer-link">{{ footer.service3 }}</a></li>
                    <li><a href="{{ footer.service4_url }}" class="text-decoration-none text-light footer-link">{{ footer.service4 }}</a></li>
                    <li><a href="{{ footer.service5_url }}" class="text-decoration-none text-light footer-link">{{ footer.service5 }}</a></li>
                    <li><a href="{{ footer.service6_url }}" class="text-decoration-none text-light footer-link">{{ footer.service6 }}</a></li>
                </ul>
            </div>

            <!-- Quick Links -->
            <div class="col-md-3">
                <h6 class="fw-semibold mb-3 text-maroon">Quick Links</h6>
                <ul class="list-unstyled small">
                    <li><a href="{{ footer.quick_link1_url }}" class="text-decoration-none text-light footer-link">{{ footer.quick_link1 }}</a></li>
                    <li><a href="{{ footer.quick_link2_url }}" class="text-decoration-none text-light footer-link">{{ footer.quick_link2 }}</a></li>
                    <li><a href="{{ footer.quick_link3_url }}" class="text-decoration-none text-light footer-link">{{ footer.quick_link3 }}</a></li>
                    <li><a href="{{ footer.quick_link4_url }}" class="text-decoration-none text-light footer-link">{{ footer.quick_link4 }}</a></li>
                    <li><a href="#" class="text-decoration-none text-light footer-link">{{ footer.quick_link5 }}</a></li>
                </ul>
            </div>

            <!-- Contact Info -->
            <div class="col-md-3">
                <h6 class="fw-semibold mb-3 text-maroon">Contact</h6>
                <ul class="list-unstyled small">
                    <li>Email: <a href="mailto:info.igniteandascend@gmail.com" class="text-decoration-none text-light">info.igniteandascend@gmail.com</a></li>
                    <li>Phone: <a href="tel:+917899790978" class="text-decoration-none text-light">+91 7899790978</a></li>
                    <li>Bangalore, India</li>
                </ul>
            </div>
        </div>

        <!-- SEO Service Description -->
        <div class="row">
            <div class="col-12">
                <h6 class="fw-semibold text-maroon mb-3">Our Services</h6>
                <p class="small text-light">
                    {{ footer.our_services }}
                </p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col text-center">
                <p class="small text-white mb-0">&copy; 2025 IGNITE AND ASCEND. ALL RIGHTS RESERVED.</p>
            </div>
        </div>
    </div>
</footer>
