{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">


<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/Logo_croped.png' %}" class="img-fluid mb-3" alt="Logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-evenly">
        
        <li class="nav-item">
          <a class="nav-link {% if active == 'home' %}cactive{% endif %}" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if active == 'about_us' %}cactive{% endif %}" href="/about">About Us</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if active == 'services' %}cactive{% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our Services
          </a>
          <ul class="dropdown-menu p-3 shadow" aria-labelledby="navbarDropdown">
            <div class="row">
              
              <!-- Consecrated -->
              <div class="col-md-4">
                <h6 class="dropdown-header text-danger fw-bold">Consecrated</h6>
                <a class="dropdown-item" href="{{ pagelinks.product1url }}">{{ pagelinks.product1name }} <span class="badge bg-success">New</span></a>
                <a class="dropdown-item" href="{{ pagelinks.product2url }}">{{ pagelinks.product2name }} <span class="badge bg-success">New</span></a>
                <a class="dropdown-item" href="{{ pagelinks.product3url }}">{{ pagelinks.product3name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product4url }}">{{ pagelinks.product4name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product5url }}">{{ pagelinks.product5name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product6url }}">{{ pagelinks.product6name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product7url }}">{{ pagelinks.product7name }} <span class="badge bg-success">New</span></a>
                <a class="dropdown-item" href="{{ pagelinks.product8url }}">{{ pagelinks.product8name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product9url }}">{{ pagelinks.product9name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product10url }}">{{ pagelinks.product10name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product11url }}">{{ pagelinks.product11name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product12url }}">{{ pagelinks.product12name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product13url }}">{{ pagelinks.product13name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product14url }}">{{ pagelinks.product14name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product15url }}">{{ pagelinks.product15name }}</a>
              </div>
        
              <!-- Temple -->
              <div class="col-md-4">
                <h6 class="dropdown-header text-danger fw-bold">Temple</h6>
                <a class="dropdown-item" href="{{ pagelinks.product16url }}">{{ pagelinks.product16name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product17url }}">{{ pagelinks.product17name }} <span class="badge bg-success">New</span></a>
                <a class="dropdown-item" href="{{ pagelinks.product18url }}">{{ pagelinks.product18name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product19url }}">{{ pagelinks.product19name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product20url }}">{{ pagelinks.product20name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product21url }}">{{ pagelinks.product21name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product22url }}">{{ pagelinks.product22name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product23url }}">{{ pagelinks.product23name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product24url }}">{{ pagelinks.product24name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product25url }}">{{ pagelinks.product25name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product26url }}">{{ pagelinks.product26name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product27url }}">{{ pagelinks.product27name }}</a>
              </div>
        
              <!-- Consecrated Rudraksha -->
              <div class="col-md-4">
                <h6 class="dropdown-header text-danger fw-bold">Consecrated Rudraksha</h6>
                <a class="dropdown-item" href="{{ pagelinks.product28url }}">{{ pagelinks.product28name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product29url }}">{{ pagelinks.product29name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product30url }}">{{ pagelinks.product30name }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product31url }}">{{ pagelinks.product31name }}</a>
              </div>
        
            </div>
          </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link {% if active == 'ebooks' %}cactive{% endif %}" href="{% url 'books:book-list' %}">Ebooks</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if active == 'blogs' %}cactive{% endif %}" href="#">Blogs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if active == 'workshops' %}cactive{% endif %}" href="/workshops">Workshops</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if active == 'contact_us' %}cactive{% endif %}" href="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  window.addEventListener('scroll', function() {
    var navbar = document.getElementById('main-navbar');
    if (window.scrollY > 80) {
      navbar.classList.add('sticky');
    } else {
      navbar.classList.remove('sticky');
    }
  });
</script>
