{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">


<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/Logo_croped.png' %}" class="img-fluid mb-3" alt="Logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-evenly">
        
        <li class="nav-item">
          <a class="nav-link {% if active == 'home' %}cactive{% endif %}" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if active == 'about_us' %}cactive{% endif %}" href="/about">About Us</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if active == 'services' %}cactive{% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our Services
          </a>
          <ul class="dropdown-menu p-3 shadow" aria-labelledby="navbarDropdown">
            <div class="row">
              
              <!-- Consecrated -->
              <div class="col-md-4">
                <h6 class="dropdown-header text-danger fw-bold">{{ pagelinks.title1|safe }}</h6>
                <a class="dropdown-item" href="{{ pagelinks.product1url }}">{{ pagelinks.product1name|safe }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product2url }}">{{ pagelinks.product2name|safe }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product3url }}">{{ pagelinks.product3name|safe }}</a>
              </div>
        
              <!-- Temple -->
              <div class="col-md-4">
                <h6 class="dropdown-header text-danger fw-bold"> {{ pagelinks.title2|safe }}</h6>
                <a class="dropdown-item" href="{{ pagelinks.product4url }}">{{ pagelinks.product4name|safe }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product5url }}">{{ pagelinks.product5name|safe }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product6url }}">{{ pagelinks.product6name|safe }}</a>
                <a class="dropdown-item" href="{{ pagelinks.product7url }}">{{ pagelinks.product7name|safe }}</a>
              </div>
        
              <!-- Consecrated Rudraksha -->
              <div class="col-md-4">
                <h6 class="dropdown-header text-danger fw-bold"> {{ pagelinks.title3|safe }}</h6>
                <a class="dropdown-item" href="{{ pagelinks.product8url }}">{{ pagelinks.product8name|safe }}</a>
              </div>
        
            </div>
          </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link {% if active == 'ebooks' %}cactive{% endif %}" href="{% url 'books:book-list' %}">Ebooks</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if active == 'blogs' %}cactive{% endif %}" href="#">Blogs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if active == 'workshops' %}cactive{% endif %}" href="/workshops">Workshops</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if active == 'contact_us' %}cactive{% endif %}" href="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  window.addEventListener('scroll', function() {
    var navbar = document.getElementById('main-navbar');
    if (window.scrollY > 80) {
      navbar.classList.add('sticky');
    } else {
      navbar.classList.remove('sticky');
    }
  });
</script>
