{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
{% include "navbar.html" %}

<section id="main">
  <header class="text-center">
    <img src="{{ page.header_image.url }}" alt="Business Strategy" class="img-fluid mb-4">
  </header>

  <section class="container py-5 text-center bg-white text-dark">
    <div class="container-fluid">
      {{ page.header_html|safe }}
    </div>
  </section>

  <section class="py-3">
    <div class="container-fluid">
      {{ apge.htmlcontent| safe }}
      <div class="mt-5 text-center">
        {{ page.clarity_call_html1|safe }}
        <a href="{{ page.clarity_call_link1|safe }}" class="btn btn-maroon mb-2">{{ page.clarity_call_button1|safe }}</a>
      </div>
    </div>
  </section>
</section>
{% endblock content %}
