{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
{% include "navbar.html" %}
<link rel="stylesheet" href="{% static "css/beginner_to_pro.css" %}">
<section id="main" class="container-fluid">
    <header class="text-center mb-5">
        <img src="{{ page.header_image.url }}" alt="Business Strategy" class="img-fluid h-100 w-100 object-fit-cover">
    </header>

    <div class="container">
        <!-- For Beginners and Experienced Professionals Section -->
        <section>
            <div class="row mb-5 d-flex justify-content-evenly">
                <!-- For Beginners -->
                <div class="col-md-5 mb-4">
                    <div class="card">
                        <div class="card-header bg-maroon text-white">
                            {{ page.beginner_html_title|safe }}
                        </div>
                        <div class="card-body">
                            {{ page.beginner_html|safe }}
                        </div>
                    </div>
                </div>

                <!-- For Experienced Professionals -->
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header bg-maroon text-white">
                            {{ page.pro_html_title|safe }}
                        </div>
                        <div class="card-body">
                            {{ page.pro_html|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Call to Action -->
        <section class="container">
            {{ page.clarity_call_html1|safe }}
            <a href="{{ page.clarity_call_link1 }}" class="btn btn-maroon btn-lg">{{ page.clarity_call_button1 }}</a>
        </section>

        <!-- Customization Section -->
        <section class="container my-5">
            {{ page.clarity_call_html2|safe }}
            <a href="{{ page.clarity_call_link2 }}" class="btn btn-outline-maroon btn-lg">{{ page.clarity_call_button2 }}</a>
        </section>

    </div>
</section>

{% endblock content %}
