{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}

{% include "navbar.html" with active='contact_us' %}
<section id="main">

    <section class="large-view hero-section text-white d-flex align-items-center justify-content-center">
        <figure class="h-100 w-100 m-0">
            <img src="{{ page.header_image.url }}" alt="Business Strategy" class="img-fluid h-100 w-100 object-fit-cover">
        </figure>
    </section>
    
    <section class="mobile-view hero-section text-white d-flex align-items-center justify-content-center">
        <figure class="h-100 w-100 m-0">
            <img src="{{ page.header_image_mobile.url }}" alt="Main banner" class="img-fluid h-100 w-100 object-fit-cover">
        </figure>
    </section>

    <div class="container py-5">
        {{ page.htmlcontent|safe }}
    
        <!-- Contact Form Section -->
        <section class="py-5">
            <div class="">
                {{ page.form_upper_html|safe }}
                        <!-- Book Free 15-Minute Call Section -->
            <section class="text-center mb-5">
                {{ page.clarity_call|safe }}
                <a href="{{ page.clarity_call_link }}" class="btn btn-maroon">
                    {{ page.clarity_call_button|safe }}
                </a>
            </section>

            <form method="POST" novalidate>
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="mb-3">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <div class="text-center">
                    <button type="submit" class="btn btn-maroon py-2 w-25 rounded-pill">Submit</button>
                </div>
            </form>
            
            {% if success %}
                <div class="alert alert-success mt-4 text-center">
                    Your message has been sent successfully!
                </div>
            {% endif %}
                {{ page.form_below_html|safe }}
            </div>
        </section>
        

    
    </div>
</section>
{% endblock content %}
