{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}

{% include "navbar.html" %}
<link rel="stylesheet" href="{% static "css/live_session.css" %}">
<!-- Hero Section -->
 <section id="main">
   <section class="container">
    {{ page.header_html|safe }}
   </section>
   
   <header class="text-center mb-5">
       <img src="{{ page.header_image.url }}" alt="Business Strategy" class="img-fluid mb-4">
   </header>
   <div class="container">
      {{ page.content1|safe }}
        <div class="mt-4">
            {{ page.clarity_call_html1|safe }}
            <a href="{{ page.clarity_call_link1 }}" class="btn btn-maroon m-2">{{ page.clarity_call_button1 }}</a>
            <br>
            {{ page.clarity_call_html2|safe }}
            <a href="{{ page.clarity_call_link2 }}" class="btn btn-maroon m-2">{{ page.clarity_call_button2 }}</a>
        </div>
        
        <div class="mt-4">
          {{ page.content2|safe }}
        </div>
  </div>
    
  <!-- FAQs Section -->
  <section class="mb-5 container">
    {{ page.faq_html|safe }}
  </section>

 </section>

{% endblock content %}
