{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}

{% include "navbar.html" %}
<link rel="stylesheet" href="{% static "css/live_session.css" %}">
<!-- Hero Section -->
    <!-- Hero Section -->
    <section class="large-view  text-white d-flex align-items-center justify-content-center">
      <figure class="h-100 w-100 m-0">
          <img src="{{ page.header_image.url }}" alt="Main banner" class="img-fluid h-100 w-100 object-fit-cover">
      </figure>
  </section>
  
  <section class="mobile-view  text-white d-flex align-items-center justify-content-center">
      <figure class="h-100 w-100 m-0">
          <img src="{{ page.header_image_mobile.url }}" alt="Main banner" class="img-fluid h-100 w-100 object-fit-cover">
      </figure>
  </section>
 <section id="main">
   <section class="container p-4">
    {{ page.header_html|safe }}
   </section>
   
   <div class="container p-4 pt-0">
      {{ page.content1|safe }}
        <div class="mt-4">
            {{ page.clarity_call_html1|safe }}
              <div class="text-center">
                <a href="{{ page.clarity_call_link1 }}" class="btn btn-xl btn-maroon m-2">{{ page.clarity_call_button1 }}</a>
              </div>
        </div>
        
        <div class="mt-4">
            {{ page.clarity_call_html2|safe }}
              <div class="text-center">
                <a href="{{ page.clarity_call_link2 }}" class="btn btn-xl btn-maroon m-2">{{ page.clarity_call_button2 }}</a>
              </div>
        </div>
        
        <div class="mt-4">
          {{ page.content2|safe }}
        </div>
  </div>
    
  <!-- FAQs Section -->
  <section class="mb-5 container">
    {{ page.faq_html|safe }}
  </section>

 </section>

{% endblock content %}
