{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
{% include "navbar.html" %}

    <!-- Hero Section -->
    <section class="large-view hero-section text-white d-flex align-items-center justify-content-center">
        <figure class="h-100 w-100 m-0">
            <img src="{{ page.header_image.url }}" alt="Main banner" class="img-fluid h-100 w-100 object-fit-cover">
        </figure>
    </section>
    
    <section class="mobile-view hero-section text-white d-flex align-items-center justify-content-center">
        <figure class="h-100 w-100 m-0">
            <img src="{% static "images/newbanners/6.jpg" %}" alt="Main banner" class="img-fluid h-100 w-100 object-fit-cover">
        </figure>
    </section>
<header class="container text-center mb-2">
    {{ page.header_html|safe }}
</header>
<section id="main">

    <div class="container px-4">
        {{ page.htmlcontent|safe }}
        
        <!-- Free 15-Minute Clarity Call Section -->
        <section class="mb-1 text-center">
            {{ page.clarity_call_html1|safe }}
            <div class="mt-2 mb-3 text-center">
                <a href="{{ page.clarity_call_link1|safe }}" class="btn btn-maroon mb-2">{{ page.clarity_call_button1|safe }}</a>
              </div>
              <div class=" text-center">
                {{ page.clarity_call_html2|safe }}
                <a href="{{ page.clarity_call_link2|safe }}" class="btn btn-maroon mb-2">{{ page.clarity_call_button2|safe }}</a>
              </div>
        </section>

        <div  class="container px-3" >
            <!-- Who Needs This Section -->
            {{ page.htmlcontent2|safe }}
        </div>

        <!-- FAQs Section -->
        <section class="mb-1">
            {{ page.faq_html|safe }}
        </section>
    </div>

</section>
{% endblock content %}

