{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
{% include "navbar.html" %}

<section id="main"  class="container-fluid">
    <header class="text-center mb-5">
        <img src="{{ page.header_image.url }}" alt="Business Strategy" class="img-fluid h-100 w-100 object-fit-cover mb-5">
        {{ page.header_html|safe }}
    </header>

    <div class="container">
        {{ page.htmlcontent|safe }}
        
        <!-- Free 15-Minute Clarity Call Section -->
        <section class="mb-5">
            {{ page.clarity_call_html1|safe }}
        </section>

        <!-- Who Needs This Section -->
         {{ page.htmlcontent2|safe }}

        <!-- FAQs Section -->
        <section class="mb-5">
            {{ page.faq_html|safe }}
        </section>
    </div>

</section>
{% endblock content %}

