{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}
{% block content %}
{% include "navbar.html" %}
<link rel="stylesheet" href="{% static "css/ultimate_trainer_launch_pack.css" %}">

<section id="main">
  <header class="">
    <img src="{{ page.header_image.url }}" alt="Business Strategy" class="img-fluid h-100 w-100 object-fit-cover">
  </header>
  <div class="container">
    <!-- HERO SECTION -->
    <section class="hero">
      {{ page.header_html|safe }}
    </section>
    
    {{ page.htmlcontent|safe }}
    
    <!-- CTA Section -->
    <section class="">
      <div class="container">
        {{ page.clarity_call_html1|safe }}
        <div class="my-4">
          <a href="{{ page.clarity_call_link1 }}" class="btn btn-warning btn-lg me-3">
            {{ page.clarity_call_button1 }}
          </a>
        </div>
      </div>
    </section>
    {{ page.content2|safe }}
    
  </div>
  
{% endblock content %}
