{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
    {% include "navbar.html" with active='workshops' %}
    <section id="main">
      <!-- Hero Section -->
          <section class="large-view hero-section text-white d-flex align-items-center justify-content-center">
              <figure class="h-100 w-100 m-0">
                  <img src="{{ page.header_image.url }}" alt="Main banner" class="img-fluid h-100 w-100 object-fit-cover">
              </figure>
          </section>
          
          <section class="mobile-view hero-section text-white d-flex align-items-center justify-content-center">
              <figure class="h-100 w-100 m-0">
                  <img src="{{ page.header_image_mobile.url }}" alt="Main banner" class="img-fluid h-100 w-100 object-fit-cover">
              </figure>
          </section>

            <!-- Left Image Column -->
          <div class="container mb-5">
              <!-- Training Programs Section -->
              <section>
                    {{ page.htmlcontent|safe }}
              </section>
              <a class="btn btn-lg btn-maroon m-5 mt-3"  href="{{ page.buttonurl }}">{{ page.button }}</a>
          </div>
    </section>
{% endblock content %}
