{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
    {% include "navbar.html" with active='workshops' %}
    <section id="main" class="container-fluid">
        <header class="text-center">
            <img src="{{ page.header_image.url }}" alt="Business Strategy" class="img-fluid">
          </header>
        <div class="row mt-4 mb-4 d-flex flex-wrap justify-content-center">
            <!-- Left Image Column -->
          <div class="container-fluid">
              <!-- Training Programs Section -->
              <section>
                    {{ page.htmlcontent|safe }}
              </section>
          </div>

        </div>
    </section>
{% endblock content %}
